.scene {
    margin: .125em .5em .5em .5em;
    width: 18em;
    float: left;
    overflow: hidden;
}

.scene-header {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: .25em .5em .25em .5em;
    font-size: 12pt;
}

.scene-content {
    padding: .5em;
    height: 7.6em;
    border: 1px solid #a1a1a1;
    border-top: 0px solid #a1a1a1;
    border-bottom: 0px solid #a1a1a1;
    font-size: 10pt;
    color: #424444;
    overflow: hidden;
}

.scene-header-name {

}

.scene-header-delete {
    padding: .125em;
    margin: .125em;
    font-size: 9pt;
    font-weight: bold;
    color:white;
    float: right;
}

.scene-url {
    font-size:11pt;
    height: 1.25em;
    padding: .25em 0em .25em .75em;
    border: 1px solid #a1a1a1;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
