html {
    width: 100%;
    height: 100%;
}

body {
    font-family: "Arial";
    margin: 0;
    padding: 0;
    color: #373737;
    background-color: #FDFDFD;
    width: 100%;
    height: 100%;
}

h1 {
    font-size: 16pt;
    padding: 0;
    margin: 0;
}

#wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin: 0;
    padding: 0;
}

#header {
    width: 100%;
    height: 1.55em;
    background-color: #373737;
    padding: .5em 1em .5em 1em;
    color: #06BDFA;
}

#content {
    width: 100%;
    padding: .5em;
}

.header-name {
    float: left;
}

.toolbar {
    color: #2ECCFA;
    float: right;
    margin-right: 1em;
}

#contain-success {
    background-color: #CEF6CE;
    border-radius: 8px;
    border: 1px solid #D0F5A9;
    color:#088A08;
    padding: 0.5em 1em 0.5em 1em;
    margin:  0.5em;
    display:inline-block; 
}

a {
    text-decoration: none;
}

a:link {
    color: #373737;
}

a:visited {
    color: #373737;
}

a:hover {
    color: #06BDFA;
}

a:active {
    color: #848484;
}


a.header:link {
    color: white;
}

a.header:visited {
    color: white;
}

a.header:hover {
    color: #06BDFA;
}

a.header:active {
    color: #848484;
}


a.title {
    color: #06BDFA;
}

a.title:link {
    color: #06BDFA;
}

a.title:visited {
    color: #06BDFA;
}

a.title:hover {
    color: #06BDFA;
}

a.title:active {
    color: #06BDFA;
}

span.seperator {
    color: #06BDFA;
    margin: .25em;
    padding: .25em;
}

iframe.document {
    margin: 0;
    padding: 0;
    border: none;
    width: 100%;
    height: 100%;
}

.scene-header-red {
    border: 1px solid #a1a1a1;
    color: white;
    background: #f27a65; /* Old browsers */
    background: -moz-linear-gradient(top,  #f27a65 11%, #f27a65 11%, #ea2803 61%, #ea2803 61%, #c72200 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(11%,#f27a65), color-stop(11%,#f27a65), color-stop(61%,#ea2803), color-stop(61%,#ea2803), color-stop(100%,#c72200)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #f27a65 11%,#f27a65 11%,#ea2803 61%,#ea2803 61%,#c72200 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #f27a65 11%,#f27a65 11%,#ea2803 61%,#ea2803 61%,#c72200 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #f27a65 11%,#f27a65 11%,#ea2803 61%,#ea2803 61%,#c72200 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #f27a65 11%,#f27a65 11%,#ea2803 61%,#ea2803 61%,#c72200 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f27a65', endColorstr='#c72200',GradientType=0 ); /* IE6-9 */
}

.scene-header-orange {
    border: 1px solid #AEB404;
    color: white;
    background: #ffa84c; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffa84c 0%, #ff7200 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffa84c), color-stop(100%,#ff7200)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffa84c 0%,#ff7200 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffa84c 0%,#ff7200 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffa84c 0%,#ff7200 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ffa84c 0%,#ff7200 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa84c', endColorstr='#ff7200',GradientType=0 ); /* IE6-9 */
}

.scene-header-yellow {
    border: 1px solid #AEB404;
    color: white;
    background: #f9ed7c; /* Old browsers */
    background: -moz-linear-gradient(top,  #f9ed7c 3%, #f1da36 52%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(3%,#f9ed7c), color-stop(52%,#f1da36)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #f9ed7c 3%,#f1da36 52%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #f9ed7c 3%,#f1da36 52%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #f9ed7c 3%,#f1da36 52%); /* IE10+ */
    background: linear-gradient(to bottom,  #f9ed7c 3%,#f1da36 52%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9ed7c', endColorstr='#f1da36',GradientType=0 ); /* IE6-9 */
}

.scene-header-green {
    border: 1px solid green;
    color: white;
    background: #9dd53a; /* Old browsers */
    background: -moz-linear-gradient(top, #9dd53a 0%, #80c217 50%, #7cbc0a 84%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9dd53a), color-stop(50%,#80c217), color-stop(84%,#7cbc0a)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #9dd53a 0%,#80c217 50%,#7cbc0a 84%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #9dd53a 0%,#80c217 50%,#7cbc0a 84%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #9dd53a 0%,#80c217 50%,#7cbc0a 84%); /* IE10+ */
    background: linear-gradient(to bottom, #9dd53a 0%,#80c217 50%,#7cbc0a 84%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9dd53a', endColorstr='#7cbc0a',GradientType=0 ); /* IE6-9 */
}

.scene-header-blue {
    border: 1px solid blue;
    color: white;
    background: #7db9e8; /* Old browsers */
    background: -moz-linear-gradient(top,  #7db9e8 10%, #1e5799 93%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(10%,#7db9e8), color-stop(93%,#1e5799)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #7db9e8 10%,#1e5799 93%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #7db9e8 10%,#1e5799 93%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #7db9e8 10%,#1e5799 93%); /* IE10+ */
    background: linear-gradient(to bottom,  #7db9e8 10%,#1e5799 93%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#1e5799',GradientType=0 ); /* IE6-9 */
}

.scene-header-purple {
    border: 1px solid purple;
    color: white;
    background: #c687b8; /* Old browsers */
    background: -moz-linear-gradient(top,  #c687b8 0%, #d358ae 47%, #c425b9 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c687b8), color-stop(47%,#d358ae), color-stop(100%,#c425b9)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #c687b8 0%,#d358ae 47%,#c425b9 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #c687b8 0%,#d358ae 47%,#c425b9 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #c687b8 0%,#d358ae 47%,#c425b9 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #c687b8 0%,#d358ae 47%,#c425b9 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c687b8', endColorstr='#c425b9',GradientType=0 ); /* IE6-9 */
}
